@{
    ViewData["Title"] = "Home Page";
}

<html>
    <body>
        <div class="text-center">
             <h1 class="display-4">Welcome To The Lair</h1>
        </div>
            <h1>Click the button to get started!</h1>
            <br/>
            <br/>
            <br/>
    <form app-Controler="Home" asp-action="GameView" method="post">
        <button type="submit" class="btn btn-primary">Enter The Game Lair</button>
    </form>
    </body>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</html>
